<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>[DEV] vue-avatar-cropper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- development version, includes helpful console warnings -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" integrity="sha512-0SPWAwpC/17yYyZ/4HSllgaK7/gg9OlVozq8K7rf3J8LvCjYEEIfzzpnA2/SSjpGIunCSD18r3UhvDcu/xncWA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="vue-avatar-cropper.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js" integrity="sha512-ooSWpxJsiXe6t4+PPjCgYmVfr1NS5QXJACcR/FPpsdm6kqG1FmQ2SVyg2RXeVuCRBLr0lWHnWJP6Zs1Efvxzww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="vue-avatar-cropper.js"></script>
</head>

<body>
  <div id="app">
    <h2>vue-avatar-cropper demo: vanilla Vue.js</h2>
    <div>
      <div class="text-center">
        <img v-if="userAvatar" :src="userAvatar" />
        <button @click="() => { trigger = true }">Select an image</button>
        <button @click="() => renderAvatarCropper = !renderAvatarCropper">
          {{ renderAvatarCropper ? 'Unmount' : 'Mount' }} avatar cropper
        </button>
        <avatar-cropper v-if="renderAvatarCropper" v-model="trigger" upload-url="/files/upload" @uploaded="handleUploaded" @error="consoleError" />
      </div>
    </div>
  </div>

  <script>
    new Vue({
      el: "#app",

      data: function () {
        return {
          trigger: false,
          userAvatar: undefined,
          renderAvatarCropper: true,
        }
      },

      methods: {
        handleUploaded() {
          console.log("uploaded")
        },

        consoleError(...errorParts) {
          console.log("Avatar Cropper Error", errorParts)
        },
      },
    });
  </script>
</body>

</html>
